ConsoleApp1/config/config.jsonc
ConsoleApp1/config/dashboard_auth.json
ConsoleApp1/config/dashboard_whitelisted_users.json
ConsoleApp1/config/dashboard_audit_log.json
ConsoleApp1/bin/
ConsoleApp1/obj/
